<script>
	import { errMsg, collections } from '../store';
	import { scale } from 'svelte/transition';

    let collection_title = ''
    let placeholder = 'Add to favorites'
    let open = false

	function createCollection() {
		// Only accept 3-50 alpha-numeric character
		if ( !/^([a-zA-Z0-9]{3,50})$/.test( collection_title ) ) {
			errMsg.set(true)

			setTimeout(() => {
				errMsg.set(false)
			}, 2000)

			return
		}

		fetch(`/wp-json/uc/v1/collections`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-WP-Nonce': window?.svelteData?.rest_nonce,
			},
			body: JSON.stringify({
				collection_title,
			}),
		})
		.then(async (res) => {
				const { data } = await res.json()

				collections.update( collections => {
						collections.titles[ data.collection_key ] = data.collection_title
						collections[ data.collection_key ] = []

						return collections
					}
				)

				collection_title = ''
			}
		)
	}
</script>

<style>
	.add-to-list {
		display: flex;
		justify-content: stretch;
	}
	.add-to-list button {
		background-color: #4CAF50;
		color: #fff;
		border: none;
	}
	.add-to-list input[type=text] {
		width: 100%;
		padding: .5rem 0 .5rem .5em;
	}
    .open-add-button {
        text-align: center;
		cursor: pointer;
    }
	.open-add-button p {
		margin: 0 0 1rem 0;
	}
	.error-message {
		font-size: 12px;
		line-height: 1.2;
		padding: 5px;
		background-color: red;
		color: #fff;
		margin: 10px 0 0 0;
		border-radius: 2px;
	}
</style>

<div class="add-to-list-container">
	<hr>
    {#if !open}
		<div class="open-add-button" on:click={() => { open = true }}>
           <p>+ Create new collection</p>
        </div>
    {/if}
    {#if open}
		<div class="add-to-list" transition:scale="{{ duration: 300 }}">
			<input type="text" bind:value={ collection_title } placeholder={ placeholder } aria-label="Collection title">
			<button on:click={ createCollection }>Create</button>
		</div>
	    {#if $errMsg}
		    <p transition:scale="{{duration: 300}}" class="error-message">Collection name must be between 1 and 50 alphanumeric characters</p>
	    {/if}
    {/if}
</div>
