<script>
	import RegularButton from './RegularButton.svelte'
	import HeartButton from './HeartButton.svelte'
	import ExpandButton from './ExpandButton.svelte'
	import HeartIt from '../shared/HeartIt.svelte'
	import ListModal from './ListModal.svelte'
	import RegisterModal from './RegisterModal.svelte'

	const button = window.ucOptions.button_type
	const userID = window.svelteData.user_ID
	const anonCollection = window.ucOptions.anon_collection

	let showListModal = false
	let showRegisterModal = false
</script>

<div class="user-collections">
  {#if showListModal}
    	<ListModal on:close="{() => showListModal = false}"/>
	{/if}
	{#if showRegisterModal}
	    <RegisterModal on:close="{() => showRegisterModal = false}" />
    {/if}
	{#if button === 'regular-button'}
		<RegularButton on:open={ userID ? ( () => showListModal = true  ) : ( () => showRegisterModal = true )} />
	{/if}
	{#if button === 'expanding-button'}
		<ExpandButton on:open={() => showRegisterModal = true} />
	{/if}
	{#if button === 'heart-button'}
		<HeartButton on:open={  userID ? ( () => showListModal = true ) : ( () => showRegisterModal = true)} />
	{/if}
</div>

<style>
	.user-collections {
		position: fixed;
		z-index: 999999;
		bottom: 4vh;
		right: 4vh;
	}
</style>
