<script>
	export let count = 1
</script>

{#if count > 0}
	<div class="uc-count">
		<span title="Saved in {count} user collections">{count}</span>
	</div>
{/if}

<style>
	.uc-count {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: red;
		color: #fff;
		font-size: 10px;
		position: absolute;
		top: 0;
		left: 33px;
		line-height: 1;
		padding: 2px;
		height: 16px;
		border-radius: 8px;
		min-width: 16px;
		border: 1px solid #fff;
	}
</style>

