<script>
	import { createEventDispatcher, onMount } from 'svelte'
	import options from '../options'
	import { collections, storage, saved, lsName } from '../store'
	import {countPosts, getCurrentPostMeta, getObjKeyByValue, postInAnyCollection } from '../functions'
	import HeartIcon from '../shared/HeartIcon.svelte'
	import CollectionCount from './CollectionCount.svelte'

	const post = window.uc.wpData.post

	const dispatch = createEventDispatcher()
	let message = false
	let favorite = false
	let clickCount = 0
	let collectionKey

	$: count = countPosts( $collections )

	onMount(() => {

		fetch(`/wp-json/uc/v1/collections`, {
			headers: {
				'Content-Type': 'application/json',
				'X-WP-Nonce': window.svelteData?.rest_nonce,
			}
		})
		.then( ( res ) => {
				if ( !res.ok ) {
					throw new Error( 'The network response was not OK' )
				}

				return res.json()
			}
		)
		.then( ( _collections ) => {
				const { data } = _collections

				collections.update( collection => {
					collection.titles = data.titles

					for ( const key of Object.keys( data.titles ) ) {
						collection[ key ] = data[ key ]
					}

					return collection
				})

				const defaultCollection = options.primary_collection_name
				collectionKey = getObjKeyByValue( $collections.titles, defaultCollection )

				saved.set( postInAnyCollection( $collections, post.item_id ) )
			}
		)

	})

	function saveToDatabase() {
		clickCount++
		console.log('click', clickCount)

		if ( $saved ) {
			favorite = true
			return setTimeout( () => { favorite = false }, 4000000 )
		}

		if ( !$collections.hasOwnProperty( collectionKey ) ) {
			return console.log(`${collectionKey} is undefined.`);
		}

		fetch( `/wp-json/uc/v1/collections/${collectionKey}`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-WP-Nonce': window?.svelteData?.rest_nonce,
			},
			body: JSON.stringify(post),
		})
		.then(async ( res ) => {
				const { data } = await res.json()

				collections.update( collection => {
						collection[ collectionKey ] = [ ...collection[ collectionKey ], { ...post, item_key: data.item_key } ]

						return collection
					}
				)

				saved.update( saved => true ) // Prevent double POST-ing
				message = true
			}
		)

		setTimeout( () => { message = false }, 40000000 )
	}
</script>

<div class="container {( message || favorite ) ? 'message' : ''}">
    {#if message || favorite}
        <div class="message-box">
	        {#if message}
		        <p>{options.post_saved_message}</p>
	        {/if}
	        {#if favorite && clickCount <= 1}
		        <p>{options.already_saved_message}</p>
	        {/if}
			{#if favorite && clickCount > 1}
				<p>Click here to view your collection</p>
			{/if}
        </div>
    {/if}
    <div class="button { $saved ? 'saved' : '' }" on:click={ post.user_id ? saveToDatabase : ( () => dispatch( 'open' ) )}>
	    <CollectionCount count={ count } />
	    <HeartIcon />
    </div>
</div>

<style>
	.container {
		transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
		width: 48px;
		height: 48px;
		border-radius: 24px;
		border: none;
		background: #ededed;
		position: relative;
		display: flex;
		align-items: center;
		padding: 0;
	}
	.container:hover {
		background: #fff;
		box-shadow: 0 0 0 4px red;
	}
	.button {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		border: none;
		cursor: pointer;
		background: red;
		position: absolute;
		right: 4px;
		bottom: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
	}
	.button.saved {
		background: #fff;
	}
	.container.message {
		transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
		border: none;
		outline: none;
		padding: 0 55px 0 20px;
		width: 220px;
		background: #ededed;
		box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
	}
	.message-box {
		text-align: left;
	}
	.message-box p {
		margin: 0;
		line-height: 1.1;
		font-size: .9rem;
	}
</style>
