<script>
	import { onMount } from 'svelte'
	import { fade, fly } from 'svelte/transition'
	import { collections, storage, hearts, lsName } from '../store'
	import { isPostInCollection, updateLabel } from '../functions'

	export let i
	export let collection_key
	export let collection_title

	$: keys      = Object.keys( $collections.titles )
	let checked  = false
	const post   = window.uc.wpData.post

	onMount(() => {
		checked = isPostInCollection( $collections, collection_key, post.item_id )
	});

	function saveToDatabase() {
		checked = !checked

		if ( checked ) {
			fetch( `/wp-json/uc/v1/collections/${collection_key}`, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-WP-Nonce': window?.svelteData?.rest_nonce,
				},
				body: JSON.stringify( { ...post, collection_user: post.user_id }),
			})
			.then( async ( res ) => {
					const { data } = await res.json()

					collections.update( collection => {
							collection[ collection_key ] = [ ...collection[ collection_key ], { ...post, item_key: data.item_key } ]

							return collection
						}
					)
				}
			)
		} else {
			fetch( `/wp-json/uc/v1/collections/${collection_key}`, {
				method: 'DELETE',
				headers: {
					'Content-Type': 'application/json',
					'X-WP-Nonce': window?.svelteData?.rest_nonce,
				},
				body: JSON.stringify({
						item_id: $collections[ collection_key ].find( i => i.item_id === post.item_id ).item_id,
						collection_user: post.user_id
					}),
			})
			.then( async ( res ) => {
					const { data } = await res.json()

					collections.update( collections => {
							collections[ collection_key ] = collections[ collection_key ].filter( i => i.item_id !== data.item_id )

							return collections
						}
					)
				}
			)
		}

	}
</script>

<style>
	.list {
		position: relative;
		margin: 0 0 1em 0;
	}

	.list-item {
		position: relative;
		width: 100%;
		margin: .5rem;
		height: 30px;
		display: flex;
		align-items: center;
	}

	.list-item label {
		width: 20px;
		height: 20px;
		cursor: pointer;
		position: relative;
		background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
		border-radius: 4px;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.4);
		margin: 0;
	}

	.list-item label:after {
		content: '';
		width: 9px;
		height: 5px;
		position: absolute;
		top: 6px;
		left: 6px;
		border: 3px solid #fcfff4;
		border-top: none;
		border-right: none;
		background: transparent;
		opacity: 0;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.list-item label:hover::after {
		opacity: 0.3;
	}

	.list-item input[type=checkbox] {
		display: none;
	}

	.list-item input[type=checkbox]:checked + label:after {
		opacity: 1;
	}

	.list-item span {
		margin: 0 0 0 .5rem;
		cursor: pointer;
	}

</style>

<div class="list">
	<div class="list-item" on:click="{ saveToDatabase }" in:fly="{{ delay: i*20, x: 200, duration: 300 }}"
		 out:fly="{{ delay: i*20, x: -200, duration: 300 }}">
		<input type="checkbox" bind:checked={ checked } id="collection-{ collection_key }" name="collection-{ collection_key }">
		<label for="collection-{ collection_key }"></label>
		<span data-collection-key={ collection_key }>{ collection_title }</span>
	</div>
</div>
