<script>
	import { createEventDispatcher } from 'svelte'
	import List from './List.svelte'

	const dispatch = createEventDispatcher()
</script>

<div class="modal">
    <div class="modal-header">
        <h2>Save to...</h2><span class="button" on:click={() => dispatch( 'close' )}>&Cross;</span>
    </div>
    <hr>
    <List />
</div>
<div class="modal-background" on:click={() => dispatch( 'close' )}></div>

<style>
    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        z-index: 999;
    }
    .modal {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 300px;
        min-width: 250px;
        max-height: 65vh;
        transform: translate(-50%,-50%);
        padding: 1rem;
        border-radius: 0.2rem;
        background: white;
        box-shadow: 3px 2px 6px 1px #3f3f3f5c;
        z-index: 9999;
        overflow: hidden;
    }
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 1rem 0;
    }
    .modal-header h2 {
        margin: 0;
    }
    hr {
        margin: 0 0 1rem 0;
    }
    .button {
        display: inline-flex;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #F44336;
        color: #fff;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
</style>
