<script>
	import { collections } from '../store'
	import {isEmpty} from '../functions'
	import ListItem from './ListItem.svelte'
	import AddToList from './AddToList.svelte'

	$: collection_keys = Object.keys( $collections.titles )
</script>

<style>
	.list-container {
		max-height: 30vh;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.list-container hr {
		margin: 0 0 1rem 0;
	}
	.list-container p {
		margin: 0 0 1em 0;
	}
</style>

<div class="list-container">
    {#if ! isEmpty( collection_keys )}
        {#each collection_keys as collection_key, i}
			<ListItem collection_key={ collection_key } collection_title={ $collections.titles[ collection_key ] } {i} />
        {/each}
    {:else}
		<p>No saved collection</p>
    {/if}
</div>
<AddToList />
