<script>
	import { createEventDispatcher } from 'svelte'
	import options from '../options'

	const dispatch = createEventDispatcher()
</script>

<div class="popup">
	<div class="background" style="background-image: url({options.site_icon})"></div>
	<div class="message">
		<p>Please create an account to start saving posts to your collection</p>
		<a class="register" href="{options.collections_page}" rel="noopener">Start Collecting</a>
	</div>

</div>

<div class='popup-background' on:click={() => dispatch( 'close' ) }></div>

<style>
	.popup-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.6);
		z-index: 999;
	}
	.popup {
		position: fixed;
		left: 50%;
		top: 50%;
		width: 300px;
		min-width: 250px;
		max-height: 65vh;
		transform: translate(-50%,-50%);
		border-radius: 3px;
		background: white;
		box-shadow: 0 10px 15px -3px rgba(0,0,0,.2),0 4px 6px -2px rgba(0,0,0,.1);
		z-index: 9999;
		overflow: hidden;
		text-align: center;
	}
	.popup .background {
		width: 100%;
		height: 120px;
		background-size: cover;
	}
	.popup .message {
		padding: 1em;
	}
	.popup .message p {
		margin: 0;
	}
	.popup .register {
		padding: 8px 12px;
		background-color: #4CAF50;
		color: #fff;
		border-radius: 3px;
		margin: 1em 0 0 0;
		display: inline-block;
		font-weight: 600;
	}
</style>
