<script>
	import { createEventDispatcher, onMount } from 'svelte'
	import { collections } from '../store'
    import SaveIcon from '../shared/SaveIcon.svelte'
    import SavedIcon from '../shared/SavedIcon.svelte'
    import { updateLabelAndCheckbox } from '../functions'

    const dispatch   = createEventDispatcher()

	let headerClass = 'pin'
	let y = 0
	let lastY = 0
	let lastDirection = 'up'

    const post = window.uc.wpData.post

    $: label = updateLabelAndCheckbox( $collections, post.item_id )

    onMount(() => {

      fetch(`/wp-json/uc/v1/collections`, {
        headers: {
          'Content-Type': 'application/json',
          'X-WP-Nonce': window.svelteData?.rest_nonce,
        }
      })
      .then( ( res ) => {
          if ( !res.ok ) {
            throw new Error( 'The network response was not OK' )
          }

          return res.json()
        }
      )
      .then( ( _collections ) => {
          const { data } = _collections

          collections.update( collection => {
            collection.titles = data.titles

            for ( const key of Object.keys( data.titles ) ) {
              collection[ key ] = data[ key ]
            }

            return collection
          })
        }
      )

    });

	function changeClass( y ) {
		let result = headerClass
		const scrolledPxs = lastY - y
		const scrollDirection = scrolledPxs < 0 ? 'down' : 'up'
		const changedDirection = scrollDirection !== lastDirection

		if (changedDirection) {
			result = scrollDirection === 'down' ? 'unpin' : 'pin'
			lastDirection = scrollDirection
		}

		lastY = y
		return result
	}

	$: headerClass = changeClass( y )
</script>

<style>
	.uc-button {
        background-color: red;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
		display: flex;
		align-items: center;
		padding: 0.5rem;
		box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
		transition: transform .5s ease-out;
    }
	.uc-button.unpin {
		transform: translateX(400px);
		user-select: none;
		pointer-events: none;
	}
    .uc-button p {
        color: #fff;
        font-size: 1rem;
        text-align: center;
		margin: 0 0 0 10px;
	    padding: 0;
        line-height: 1;
		display: inline-block;
		pointer-events: none;
		user-select: none;
    }
</style>

<svelte:window bind:scrollY={y}/>
<div class="uc-button { headerClass }" on:click="{() => dispatch( 'open' )}">
    {#if label.saved}
		<SavedIcon />
    {:else}
		<SaveIcon />
    {/if}
    <p>{label.text}</p>
</div>
