<script>
	import { onMount } from 'svelte'
	import { collections } from '../store'
	import { isEmpty } from '../functions'

	import Loading from '../shared/Loading.svelte'
	import Header from './Header.svelte'
	import Posts from './Posts.svelte'
	import NoPosts from '../shared/NoPosts.svelte'

	let loading = true

	let pub_collector  = document.getElementById('collections-container').getAttribute('data-collector') || 0
	let pub_collection = document.getElementById('collections-container').getAttribute('data-collection') || '_'

	onMount(() => {
		fetch(`/wp-json/uc/v1/collections`, {
			headers: {
				'Content-Type': 'application/json',
				'X-WP-Nonce': window?.svelteData?.rest_nonce,
			}
		})
		.then( ( res ) => {
				if ( !res.ok ) {
					throw new Error( 'The network response was not OK' )
				}

				return res.json()
			}
		)
		.then( ( _collections ) => {
			const { data } = _collections

			collections.update( collection => {
					collection.titles = data.titles

					for ( const key of Object.keys( data.titles ) ) {
						collection[ key ] = data[ key ]
					}

					return collection
				})

				loading = false
			}
		)
	})
</script>

<div class="user-collections">
    {#if loading}
        <div class="loading">
	        <Loading />
        </div>
	{:else}
	    <Header user_ID="{window.svelteData.user_ID}" />

	    {#if !isEmpty( $collections.titles )}
		    <Posts />
		{:else if pub_collector}
		    <NoPosts message="{'This collector has no saved posts.'}" />
		{:else}
		    <NoPosts message="{'You have not saved any posts.'}" />
	    {/if}
    {/if}
</div>

<style>
	.user-collections {
		width: 100%;
		position: relative;
	}
	.loading {
		width: 100%;
		height: 70vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
