<script>
	import { collections, manage } from '../store'
	import GridIcon from '../shared/GridIcon.svelte'
	import ListIcon from '../shared/ListIcon.svelte'

	export let user_ID
	let selected

	function sortCollection() {
		for ( const key of Object.keys( $collections.titles ) ) {
			if ( $collections.hasOwnProperty( key ) ) {
				if ( 'alphabetical' === selected ) {
					$collections[ key ] = $collections[ key ].sort( ( a, b ) => a.item_title.localeCompare( b.item_title ) )
				} else if ( 'pub_date' === selected ) {
					$collections[ key ] = $collections[ key ].sort( ( a, b ) => new Date( b.item_published ) - new Date( a.item_published ) )
				} else if ( 'collected_date' === selected ) {
					$collections[ key ] = $collections[ key ].sort( ( a, b ) => new Date( b.item_collected ) - new Date( a.item_collected ) )
				}
			}
		}
	}

	function logoutUser() {
		fetch( `/wp-json/uc/v1/authentication/logout`, {
			method: 'DELETE',
			headers: {
					'Content-Type': 'application/json',
					'X-WP-Nonce': window?.svelteData?.rest_nonce,
				}
			} 
		).then( response => {
				if ( response.ok ) {
					window.location.reload()
				}
			} 
		)
	}

</script>

<div class="uc-header">
	<div class="uc-header-items">
		{#if parseInt( user_ID )}
			<div class="left">
				<button class="button uc-logout" on:click={logoutUser}>
					Logout
				</button>
			</div>
		{/if}

		<div class="right">
			{#if parseInt( user_ID )}
				<button on:click="{() => manage.update(manage => ! manage)}" class="button uc-manage">
					Manage
				</button>
			{/if}
			{#if parseInt( user_ID )}
				<select class="uc-sort" title="Sort" bind:value={selected} on:change="{sortCollection}">
					<option value="collected_date">Collected Date</option>
					<option value="alphabetical">Alphabetical</option>
					<option value="pub_date">Published Date</option>
				</select>
			{/if}
			{#if parseInt( user_ID )}
				<GridIcon/>
				<ListIcon/>
			{/if}
		</div>
	</div>
</div>

<style>
	.uc-header {
		width: 100%;
		margin: 0 0 3em 0;
	}

	.uc-header-items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	.uc-logout {
		margin: 0;
		min-height: 30px;
		cursor: pointer;
		background-color: #000000;
		background-color: var( --wp--preset--color--foreground );
		color: #FFFFFF;
		color: var( --wp--preset--color--background );
		border: 1px solid currentColor;
	}

	.uc-header-items .left {
		flex: 0 0 auto;
	}

	.uc-header-items .right {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.uc-manage {
		background-color: white;
		background-color: var( --wp--preset--color--background );
		color: #000000;
		color: var( --wp--preset--color--foreground );
		cursor: pointer;
		margin: 0 1em 0 0;
		min-height: 30px;
		border: 1px solid currentColor;
	}

	.uc-sort {
		margin: 0 1em 0 0;
		cursor: pointer;
		min-height: 30px;
		padding: 10px 15px;
    border: 1px solid;
		border-radius: 2px;
	}
</style>
