<script>
	import { fly } from 'svelte/transition'
	import { removePost, stripSlashes } from '../functions'
	import { manage } from '../store'
	import RemoveIcon from '../shared/RemoveIcon.svelte'

	/**
	 * Data passed from the backend for our Svelte app
	 * @typedef {{user_ID: number}} SvelteData
	 * @type {SvelteData}
	 */
	let data = window?.svelteData

	/**
	 * Items in a collection
	 * @typedef {{item_id: number, item_title: string, item_thumbnail: string, item_url: string}} item
	 * @type {item[]}
	 */
	export let items

	/**
	 * The collection ID
	 * @type {string}
	 */
	export let collectionID

	/**
	 * The logged-in user's ID
	 * @type {number}
	 */
	const userID = parseInt(data.user_ID) || 0
</script>

{#if items}
	{#each items as item, i (item.item_key)}
		<div class="post post-{item.item_key}" in:fly="{{delay: i*25, y: 200, duration: 1000}}" out:fly="{{y: 200, duration: 1000}}">
			<a href="{item.item_url}">
				<div class="post-img" style="background-image: url('{Array.isArray(item.item_thumbnail) ? item.item_thumbnail[0] : item.item_thumbnail}')"></div>
				<h3>{stripSlashes(item.item_title)}</h3>
			</a>
			{#if $manage}
				<RemoveIcon itemID={item.item_id} collectionID={collectionID} userID={userID} />
			{/if}
		</div>
	{/each}
{/if}

<style>
	.post {
		position: relative;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		border-radius: 3px;
	}
	.post h3 {
		font-size: 1.2rem;
		line-height: 1.2;
		margin: 10px 0 0 0;
	}
	.post a {
		display: inline-block;
		width: 100%;
	}
	.post-img {
		width: 100%;
		aspect-ratio: 1;
		position: relative;
		margin: 0;
		background-color: currentColor;
		background-size: cover;
	}
	.remove-post {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		background-color: #F44336;
		color: #fff;
		font-size: 20px;
		line-height: 1;
		font-weight: bold;
		width: 28px;
		height: 28px;
		border-radius: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
