<script>
	import { collections, manage } from '../store'
	import { isEmpty } from '../functions'

	import PostList from './PostList.svelte'
	import PostGrid from './PostGrid.svelte'
	import NoPosts from '../shared/NoPosts.svelte'
	import DeleteIcon from '../shared/DeleteIcon.svelte'

	$: keys = $collections && Object.keys( $collections.titles )
</script>

<div class="container">
	{#if $collections.layout === 'grid'}
		{#if keys}
			{#each keys as key}
				<header>
					<h3>{$collections.titles[key]}</h3>{#if $manage}<DeleteIcon collectionID={key} />{/if}
				</header>
				{#if $collections && $collections.hasOwnProperty(key) && !isEmpty($collections[key])}
					<div class="posts {$collections.layout}">
						<PostGrid items={$collections[key]} collectionID={key} />
					</div>
				{:else}
					<NoPosts message="{'No posts saved to this collection'}" />
				{/if}
			{/each}
		{/if}
	{/if}
	{#if $collections.layout === 'list'}
		{#if keys}
			{#each keys as key}
				<header>
					<h3>{$collections.titles[key]}</h3>{#if $manage}<DeleteIcon collectionID="{key}" />{/if}
				</header>
				{#if $collections && $collections.hasOwnProperty(key) && !isEmpty($collections[key])}
					<div class="posts {$collections.layout}">
						<PostList items={$collections[key]} collectionID={key} />
					</div>
				{:else}
					<NoPosts message="{'No posts saved to this collection'}" />
				{/if}
			{/each}
		{/if}
	{/if}
</div>

<style>
	.container header {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
	}
	.posts.grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
		width: 100%;
		margin: 0 0 2em 0;
	}
	.posts.list {
		margin: 0 0 2em 0;
	}
	@media (max-width: 319px) {
		.posts.grid {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	@media (min-width: 320px) and (max-width: 400px) {
		.posts.grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (min-width: 401px) and (max-width: 600px) {
		.posts.grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	@media (min-width: 601px) {
		.posts.grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}
</style>
