<script>
	import { fly } from 'svelte/transition'
	import { removePost, stripSlashes } from '../functions'
	import NoImage from '../shared/NoImage.svelte'
	import { manage } from '../store'

	export let items
	export let collectionID
	const userID = parseInt(window.svelteData.user_ID) || 0
</script>

{#if items}
	{#each items as item, i (item.item_key)}
		<div class="post post-{item.item_key}" in:fly="{{delay: i*25, y: 200, duration: 1000}}" out:fly="{{y: 200, duration: 1000}}">
			<div class="post-img">
				<a href="{item.item_url}">
					{#if item.item_thumbnail}
						<img src="{Array.isArray(item.item_thumbnail) ? item.item_thumbnail[0] : item.item_thumbnail}" alt="">
					{:else}
						<NoImage />
					{/if}
				</a>
			</div>
			<div class="post-content">
				<a href="{item.item_url}"><h3>{stripSlashes(item.item_title)}</h3></a>
				<div>
					{#if item.item_description}
						<p>{item.item_description}</p>
					{/if}
				</div>
			</div>
			{#if $manage}
				<span title="Remove item" class="remove-post" on:click="{() => removePost(parseInt(item.item_id), collectionID, userID)}">&times;</span>
			{/if}
		</div>
	{/each}
{/if}

<style>
	.post {
		position: relative;
		height: 90px;
		margin: 0 0 1rem 0;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		border-radius: 3px;
		border: 1px solid #e3e3e3;
	}
	.post:hover {
		border-color: #b0b0b0;
	}
	.post-img {
		width: 90px;
		margin: 0 10px 0 0;
		background-color: #f0faff;
	}
	.post-content {
		position: relative;
		width: calc(100% - 110px);
		margin: 0;
	}
	.post-content h3 {
		font-size: 18px;
		margin: 10px 0 5px 0;
		line-height: 1;
	}
	.post-content div {
		height: calc(2 * 14px);
		overflow: hidden;
		margin: 0 0 5px 0;
	}
	.post-content p {
		font-size: 14px;
		margin: 0;
		line-height: 1;
	}
	.remove-post {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		background-color: #F44336;
		color: #fff;
		font-size: 20px;
		line-height: 1;
		font-weight: bold;
		width: 28px;
		height: 28px;
		border-radius: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.post-meta {
		font-size: 12px;
	}
</style>
