<script>
    import {collections, storage, lsName} from '../store'
    export let collectionID;

	function deleteCollection(collectionID) {
	    let confirm = window.confirm( 'Are sure you want to delete this collection?' )

	    if ( !confirm ) {
	      return;
        }

		fetch( `/wp-json/uc/v1/collections`, {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json',
				'X-WP-Nonce': window?.svelteData?.rest_nonce,
			},
			body: JSON.stringify({
				collection_key: collectionID,
				collection_user: window?.svelteData?.user_ID,
			}),
		})
		.then( async ( res ) => {
				const { data } = await res.json()

				collections.update( collections => {
						delete collections.titles[ data.collection_key ]
						collections[ data.collection_key ] = []

						return collections
					}
				)
			}
		)
    }
</script>

<style>
	svg.delete-icon {
		cursor: pointer;
		width: 30px;
		margin-left: 1rem;
	}
</style>

<svg xmlns="http://www.w3.org/2000/svg" class="delete-icon h-6 w-6" on:click="{() => deleteCollection(collectionID)}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
	<title>Delete Collection</title>
	<path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
</svg>

