<script>
	import { collections } from '../store'

	function changeLayout(newLayout) {
		collections.update((collections) => {
			collections.layout = newLayout
			return collections
		})
	}
</script>

<style>
	svg {
		padding: 5px;
		opacity: .4;
		cursor: pointer;
		width: 30px;
	}
	svg.active {
		opacity: 1;
	}
</style>

<!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" style="width: 30px"-->
<!--     class="{$collections && $collections.layout === 'grid' ? 'active' : ''}" on:click="{() => changeLayout('grid')}">-->
<!--    <title>Grid view</title>-->
<!--    <rect width="5" height="5"/><rect x="6.5" width="5" height="5"/><rect x="13" width="5" height="5"/><rect y="6" width="5" height="5"/>-->
<!--    <rect x="6.5" y="6" width="5" height="5"/><rect x="13" y="6" width="5" height="5"/><rect y="12" width="5" height="5"/>-->
<!--    <rect x="6.5" y="12" width="5" height="5"/><rect x="13" y="12" width="5" height="5"/>-->
<!--</svg>-->

<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 {$collections && $collections.layout === 'grid' ? 'active' : ''}" on:click="{() => changeLayout('grid')}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
	<title>Grid view</title>
	<path stroke-linecap="round" stroke-linejoin="round" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
</svg>
