<script>
	import {saved, hearts} from '../store'
    // let hearts = false;

	function heartIt() {
		console.log('heartIt')
		hearts.set(true)
		setTimeout(() => {
			hearts.set(false)
		}, 3000)
	}
</script>

<div class="heart-btn { $saved ? 'liked' : '' }" on:click={ heartIt }>
	<svg viewBox="0 0 32 29.6" class="heart heart-icon"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,
	16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"></path></svg>
	{#if $hearts}
		<svg class="heart heart-pop one" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg>
		<svg class="heart heart-pop two" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg>
		<svg class="heart heart-pop three" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg>
		<svg class="heart heart-pop four" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg>
		<svg class="heart heart-pop five" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg>
		<svg class="heart heart-pop six" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg>
		<svg class="heart heart-pop seven" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg>
		<svg class="heart heart-pop eight" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg>
		<svg class="heart heart-pop nine" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg>
	{/if}
</div>

<style>
	.heart {
		width: 24px;
		fill: gray;
		transition: fill .5s, transform .5s;
		pointer-events: none;
	}
	.heart-btn {
		position: relative;
		border-radius: 14px;
		background-color: white;
		margin: 3px 0 0 0;
		padding: 0;
		width: 28px;
		height: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.heart-btn.liked .heart {
		fill: #ee3529;
	}
	.heart-btn.liked .heart-icon {
		transform: scale(1.2);
	}
	.heart-btn.liked .heart-pop {
		animation-direction: normal;
	}
	.heart-btn:active {
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	}
	.heart-pop {
		position: absolute;
		width: 30%;
		opacity: 0;
		left: 0;
		animation: pop 1s ease forwards reverse;
	}
	.heart-pop.one {
		left: 1%;
		transform: rotate(-10deg);
		animation-delay: .45s;
	}
	.heart-pop.two {
		left: 15%;
		transform: rotate(8deg);
		animation-delay: .25s;
	}
	.heart-pop.three {
		left: 30%;
		transform: rotate(-5deg);
		animation-delay: 0s;
	}
	.heart-pop.four {
		left: 50%;
		transform: rotate(-8deg);
		animation-delay: .3s;
	}
	.heart-pop.five {
		left: 60%;
		transform: rotate(-10deg);
		animation-delay: .9s;
	}
	.heart-pop.six {
		left: 70%;
		transform: rotate(-8deg);
		animation-delay: .20s;
	}
	.heart-pop.seven {
		left: 85%;
		transform: rotate(6deg);
		animation-delay: .35s;
	}
	.heart-pop.eight {
		left: 90%;
		transform: rotate(-4deg);
		animation-delay: .5s;
	}
	.heart-pop.nine {
		left: 95%;
		transform: rotate(8deg);
		animation-delay: .2s;
	}

	@keyframes pop {
		0% {
			left: calc(50% - 7px);
			top: 10px;
		}
		20% {
			opacity: 1;
		}
		80% {
			top: -20px;
		}
		100% {
			opacity: 0;
		}
	}
</style>
