<script>
	import {saved} from '../store';
</script>

<style>
    svg {
        width: 25px;
    }
    .heart-icon {
		fill:#fff;
        stroke:red;
        stroke-miterlimit:10;
        stroke-width:3px;
    }
	.heart-icon.saved {
		fill:red;
	}
</style>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 32.86">
    <title>{$saved ? 'Saved to collection' : 'Save to collection'}</title>
    <path class="heart-icon {$saved ? 'saved' : ''}" d="M19,31.86a1.19,1.19,0,0,1-.88-.36L5.58,19.4A7.23,7.23,0,0,1,5,18.88c-.24-.24-.61-.68-1.12-1.32a16.78,16.78,0,0,
    1-1.36-2,12.33,12.33,0,0,1-1.08-2.43A8.9,8.9,0,0,1,1,10.4,9.22,9.22,0,0,1,3.55,3.49,9.66,9.66,0,0,1,10.6,1a7.92,7.92,0,0,1,2.54.43A10.15,10.15,0,0,1,15.55,2.6,23.4,
    23.4,0,0,1,17.47,4,18.21,18.21,0,0,1,19,5.34,18.21,18.21,0,0,1,20.53,4,23.4,23.4,0,0,1,22.45,2.6a10.15,10.15,0,0,1,2.41-1.17A7.92,7.92,0,0,1,27.4,1a9.66,9.66,0,0,1,
    7.05,2.49A9.22,9.22,0,0,1,37,10.4q0,4.44-4.6,9L19.88,31.5a1.19,1.19,0,0,1-.88.36"/>
</svg>
