<script>
	import { collections } from '../store'

	function changeLayout(newLayout) {
		collections.update((collections) => {
			collections.layout = newLayout

			return collections
		})
	}
</script>

<style>
	svg {
		padding: 5px;
		opacity: .4;
		cursor: pointer;
		width: 30px;
	}
	svg.active {
		opacity: 1;
	}
</style>

<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 {$collections && $collections.layout === 'list' ? 'active' : ''}" on:click="{() => changeLayout('list')}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
	<title>List view</title>
	<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 10h16M4 14h16M4 18h16" />
</svg>
