<script>
    export let message;
</script>

<style>
	.no-posts {
		background-color: #f6f8e170;
		border-radius: 2px;
		border: 1px solid #dcdfc2;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2em;
		margin: 0 0 2em 0;
	}
	.no-posts p {
		margin: 0;
		text-align: center;
	}
</style>

<div class="no-posts">
	<p>{message}</p>
</div>
