<script>
	import { fade } from 'svelte/transition'
	import { collections } from '../store'

	export let itemID
	export let collectionID
	export let userID

	function removeItem() {
		let confirm = window.confirm( 'Are sure you want to delete this collection?' )

		if ( !confirm ) {
			return
		}

		fetch( `/wp-json/uc/v1/collections/${collectionID}`, {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json',
				'X-WP-Nonce': window?.svelteData?.rest_nonce,
			},
			body: JSON.stringify( {
				item_id: itemID,
				collection_key: collectionID,
				collection_user: userID,
			} ),
		} )
		.then( async ( res ) => {
					const { data } = await res.json()

					collections.update( collections => {
								collections[ data.collection_key ] = collections[ data.collection_key ].filter( i => i.item_id !== data.item_id )

								return collections
							}
					)
				}
		)
	}
</script>

<div transition:fade class="remove-item" on:click={ removeItem }>
	<svg xmlns="http://www.w3.org/2000/svg" class="remove-icon h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
		<title>Remove Item</title>
		<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
	</svg>
</div>

<style>
	.remove-item {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: #fa15053b;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	svg {
		width: 30px;
		cursor: pointer;
	}
</style>
