<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;fill:#fff; width:24px;" xml:space="preserve">
	<g id="Layer_1" focusable="false">
	<path d="M10,15h12v-2H10V15z M10,19h12v-2H10V19z M6,11v4h2v-4h4V9H8V5H6v4H2v2H6z M22,9h-8v2h8V9z"/>
</g>
</svg>
