<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 24 24" style="enable-background:new 0 0 24 24; fill:#fff; width:24px;" xml:space="preserve">
	<g id="Layer_2">
	<rect x="11.5" y="12.1" width="10.5" height="2"/>
		<rect x="8.7" y="16.1" width="13.2" height="2"/>
		<polygon points="6.6,11.1 11.6,5.5 13.1,6.9 8.1,12.4 8.1,12.4 6.8,13.9 6.8,13.9 6.8,13.9 5.3,12.6 5.3,12.6 2.3,9.9 3.6,8.4 	"/>
		<rect x="14.8" y="8.1" width="7.1" height="2"/>
</svg>
