<script>
	import {onMount} from 'svelte';
	import SignupForm from './SignupForm.svelte';
	import LoginForm from './LoginForm.svelte';
	import ForgotForm from './ForgotForm.svelte';
	import ResetForm from './ResetForm.svelte';
	import ErrorMessage from './ErrorMessage.svelte';
	import Disclaimer from './Disclaimer.svelte';

	let error = false;
	let forgotPassword = false;
	let form = 'login';
	const data = {
		intent: null,
		key: null,
		login: null,
	};

	onMount(() => {
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		data.intent = urlParams.get('intent');
		data.key = urlParams.get('key');
		data.login = urlParams.get('login');
	});
</script>

<svelte:head>
	{#if window.ucOptions.enable_recaptcha}
		<script src="https://www.google.com/recaptcha/api.js?render={window.ucOptions.recaptcha_site_key}" async defer></script>
	{/if}
</svelte:head>

<div class="user-authentication">
	{#if forgotPassword}
		<ForgotForm on:cancel="{() => forgotPassword = false}" />
	{:else if data.intent && 'reset'=== data.intent}
		<ResetForm on:cancel="{() => data.intent = false}" on:error="{(e) => error = e.detail.data.error}" {...data} />
	{:else}
		<div class="form-selection">
			<div class="form-login {form === 'login' ? 'selected' : ''}" on:click="{() => form = 'login'}">
				<h3>Login</h3>
			</div>
			<div class="form-signup {form === 'signup' ? 'selected' : ''}" on:click="{() => form = 'signup'}">
				<h3>Signup</h3>
			</div>
		</div>
		{#if form === 'login'}
			<LoginForm on:forgot="{() => forgotPassword = true}" />
		{/if}
		{#if form === 'signup'}
			<SignupForm />
		{/if}
	{/if}
</div>
{#if window.ucOptions.enable_recaptcha}
	<Disclaimer />
{/if}

<style>
	:global(div.grecaptcha-badge) {
		display: none !important;
	}
	:global(.form-title h2) {
		margin: 0;
		padding: 5px;
	}
	.user-authentication {
		width: 100%;
		position: relative;
		padding: 2em;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
	.form-selection {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	.form-selection h3 {
		font-size: 1.6rem;
		margin: 0;
		padding: 5px;
	}
	.form-login,
	.form-signup {
		width: 50%;
		text-align: center;
		cursor: pointer;
		border: 1px solid;
	}
	.form-login.selected,
	.form-signup.selected {
		border-bottom: none;
	}

</style>

