<style>
	.g-recaptcha-disclaimer {
		font-size: .6em;
		opacity: .6;
		text-align: right;
		margin: 5px 0 0 0;
	}
</style>

<p class="g-recaptcha-disclaimer">This form is protected by reCAPTCHA and the Google
	<a href="https://policies.google.com/privacy">Privacy Policy</a> and
	<a href="https://policies.google.com/terms">Terms of Service</a> apply.
</p>
