<script>
	export let error;
</script>

<style>
	.error-message {
		border: 1px solid #ccc;
		padding: .5em;
		border-left-width: 5px;
		border-left-color: #ff6464;
		margin: 0 0 1em 0;
	}
	.error-message p {
		margin: 0;
		line-height: 1.2;
		font-size: .8em;
	}
</style>

{#if error}
	<div class="error-message">
        <p>{error}</p>
	</div>
{/if}

