<script>
	import {createEventDispatcher} from 'svelte';
	import ErrorMessage from './ErrorMessage.svelte';

	const dispatch = createEventDispatcher();

	let errorMsg = false;
	let data = {
		user_login: '',
		website: '',
		forgot_nonce: window.svelteData.forgot_nonce,
		action: 'forgot_form',
	};

	$: disabled = !data.user_login;

	function submitForm(token) {
		if (data.website) return

		if (data.user_login) {
			data.token = token

			fetch( `/wp-json/uc/v1/authentication/forgot`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-WP-Nonce': window?.svelteData?.rest_nonce,
					},
					body: JSON.stringify( data ),
				} 
			)
			.then( async ( res ) => {
					const { data: _data } = await res.json()					

					if (_data.email_sent) {
						data.user_login = ''
					}
				}
			)

		}
	}

	function verifyForm() {
		if (typeof window.grecaptcha !== 'undefined') {
			window.grecaptcha.ready(function() {
				window.grecaptcha.execute(window.ucOptions.recaptcha_site_key, {action: 'uc_forgot'}).then(function(token) {
					submitForm(token);
				});
			});
		} else { // reCaptcha is disabled
			submitForm(null);
		}
	}
</script>

<div class="form-selection">
	<div class="form-signup">
		<h3>I Forgot My Password</h3>
	</div>
</div>
<div class="uc-forgot-form">
	<ErrorMessage error="{errorMsg}" />
	<form action="/">
		<div class="email-container">
			<label for="user_login">Email address</label>
			<input type="email" id="user_login" name="user_login" bind:value={data.user_login}>
		</div>
		<div class="submit-container">
			<input type="hidden" id="website" bind:value={data.website}>
			<div class="g-recaptcha"></div>
			<div class="col1">
				<button class="submit {disabled ? 'disabled' : 'enabled'}" on:click|preventDefault="{verifyForm}">Send</button>
				<button class="cancel" on:click|preventDefault="{() => dispatch('cancel')}">Cancel</button>
			</div>
		</div>
	</form>
</div>

<style>
	.form-selection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
		border: 1px solid;
	}
	.form-selection h3 {
    font-size: 1.6rem;
    margin: 0;
    padding: 5px;
	}
	.uc-forgot-form {
		border: 1px solid;
		border-top: none;
		padding: 1rem;
	}
	.uc-forgot-form input[type="email"] {
		width: 100%;
		padding: 5px 10px;
		font-size: 1.4rem;
		border: none;
	}
	.uc-forgot-form button {
		margin: 0 1em 0 0;
		padding: 10px 15px;
    font-size: 1rem;
		border: 1px solid;
		border-radius: 2px;
		line-height: 1;
		cursor: pointer;
	}
	.submit.enabled {
		color: #ffffff;
		color: var(--wp--preset--color--background);
		background-color: #007cba;
		background-color: var(--wp--preset--color--foreground);
	}
	.submit.disabled {
		pointer-events: none;
		opacity: .7;
	}
	.email-container {
		margin: 1em 0 0 0;
	}
	.submit-container {
		margin: 2em 0 0 0;
	}
	.cancel {
		background-color: transparent;
		color: inherit;
		float: right;
	}
</style>
