<script>

</script>

<style>
	.form-header * {
		margin: 0;
	}
    .form-header {
        margin: 0 0 4em 0;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
        background-color: aquamarine;
    }
</style>

<div class="form-header">
    <slot></slot>
</div>
