<script>
	import {createEventDispatcher} from 'svelte'
	import ErrorMessage from './ErrorMessage.svelte'

	const dispatch = createEventDispatcher()

	let errorMsg = false
	let data = {
		user_login: '',
		user_password: '',
		website: '',
		remember: false,
	}

	$: disabled = !(data.user_login && data.user_password);

	function submitForm(token) {
		if (data.website) return

		if (data.user_login && data.user_password) {
			data.token = token

			fetch( `/wp-json/uc/v1/authentication/login`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-WP-Nonce': window?.svelteData?.rest_nonce,
					},
					body: JSON.stringify( data ),
				} 
			)
			.then( async ( res ) => {
					const { data: _data } = await res.json()					

					if (_data.logged_in) {
						data.user_login = '';
						data.user_password = '';
						window.location.reload(true)
					}
				}
			)
		}
	}

	function verifyForm() {
		if (typeof window.grecaptcha !== 'undefined') {
			window.grecaptcha.ready(function() {
				window.grecaptcha.execute(window.ucOptions.recaptcha_site_key, {action: 'uc_login'})
				.then(function(token) {
					submitForm(token);
				});
			});
		} else { // reCaptcha is disabled
			submitForm(null);
		}
	}
</script>

<div class="uc-login-form">
	<ErrorMessage error="{errorMsg}" />

	<form action="/">
		<div class="username-container">
			<label for="_username">Username</label>
			<input type="text" id="_username" bind:value={data.user_login}>
		</div>
		<div class="password-container">
			<label for="_password">Password</label>
			<input type="password" id="_password" bind:value={data.user_password}>
		</div>
		<div class="submit-container">
			<div class="col1">
				<button class="button submit {disabled ? 'disabled' : 'enabled'}" on:click|preventDefault={verifyForm}>Login</button>
				<input type="hidden" id="_website" bind:value={data.website}>
				<input type="checkbox" id="_remember" bind:checked="{data.remember}">
				<label for="_remember">Remember me</label>
			</div>
			<div class="col2">
				<span class="forgot" on:click="{() => dispatch('forgot')}">Forgot my password</span>
			</div>
		</div>
	</form>
</div>

<style>
	.uc-login-form {
		border: 1px solid;
		border-top: none;
		padding: 1rem;
	}
	.uc-login-form input[type="text"],
	.uc-login-form input[type="password"] {
		width: 100%;
		padding: 5px 10px;
		font-size: 1.4rem;
		border: none;
	}
	.uc-login-form button {
		margin: 0 1em 0 0;
		padding: 10px 15px;
    font-size: 1rem;
		border: 1px solid;
		border-radius: 2px;
		line-height: 1;
		cursor: pointer;
	}
	.submit.enabled {
		color: #ffffff;
		color: var(--wp--preset--color--background);
		background-color: #007cba;
		background-color: var(--wp--preset--color--foreground);
	}
	.submit.disabled {
		pointer-events: none;
		opacity: .7;
	}
	.submit-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 2em 0 0 0 !important;
		flex-wrap: wrap;
	}
	.username-container,
	.password-container,
	.submit-container {
		margin: 1em 0 0 0;
	}
	.forgot {
		cursor: pointer;
		font-size: 1rem;
	}
</style>
