<script>
	import {createEventDispatcher} from 'svelte'
	import ErrorMessage from './ErrorMessage.svelte'

	const dispatch = createEventDispatcher()

	export let intent
	export let key
	export let login

	let errorMsg = false
	let data = {
		user_pass_1: '',
		user_pass_2: '',
		website: '',
		reset_nonce: window.svelteData.reset_nonce,
		action: 'reset_form',
	}

	$: disabled = !((data.user_pass_1 && data.user_pass_2) && (data.user_pass_1 === data.user_pass_2))

	function submitForm(token) {
		if (data.website) return

		if (! disabled) {
			data.token = token;
			data.intent = intent;
			data.key = key;
			data.login = login;

			fetch( `/wp-json/uc/v1/authentication/reset`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-WP-Nonce': window?.svelteData?.rest_nonce,
					},
					body: JSON.stringify( data ),
				} 
			)
			.then( async ( res ) => {
					const { data } = await res.json()

					if (data.password_reset) {
						window.location.replace( window.location.href.split('?')[0] )
					}
				}
			)

		}
	}

	function verifyForm() {
		if (typeof window.grecaptcha !== 'undefined') {
			window.grecaptcha.ready(function() {
				window.grecaptcha.execute(window.ucOptions.recaptcha_site_key, {action: 'uc_reset'})
				.then(function(token) {
					submitForm(token);
				});
			});
		} else { // reCaptcha is disabled
			submitForm(null);
		}
	}

	function cancelForm() {
		dispatch('cancel');
		window.location.replace(window.location.href.split('?')[0]);
	}
</script>

<div class="form-selection">
	{#if intent === 'reset'}
		<div class="form-title">
			<h3>Reset My Password</h3>
		</div>
	{:else}
		<div class="form-title">
			<h3>Register My Password</h3>
		</div>
	{/if}
</div>

<div class="uc-reset-form">
	<ErrorMessage error="{errorMsg}" />
	<form action="/">
		<div class="password-container">
			<label for="user_pass_1">Password</label>
			<input type="password" id="user_pass_1" name="user_pass_1" bind:value={data.user_pass_1}>
		</div>
		<div class="password-container">
			<label for="user_pass_2">Retype Your Password</label>
			<input type="password" id="user_pass_2" name="user_pass_2" bind:value={data.user_pass_2}>
		</div>
		<div class="submit-container">
			<input type="hidden" id="website" bind:value={data.website}>
			<div class="g-recaptcha"></div>
			<div class="col1">
				<button class="submit {disabled ? 'disabled' : 'enabled'}" on:click|preventDefault="{verifyForm}">
					{intent === 'reset' ? 'Reset Password' : 'Create New Password'}
				</button>
				<button class="cancel" on:click|preventDefault="{cancelForm}">Cancel</button>
			</div>
		</div>
	</form>
</div>

<style>
	.form-selection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
		border: 1px solid;
	}
	.form-selection h3 {
    font-size: 1.6rem;
    margin: 0;
    padding: 5px;
	}
	.uc-reset-form {
		border: 1px solid;
		border-top: none;
		padding: 1rem;
	}
	.uc-reset-form input[type="password"] {
		width: 100%;
		padding: 5px 10px;
		font-size: 1.4rem;
		border: none;
	}
	.uc-reset-form button {
		margin: 0 1em 0 0;
		padding: 10px 15px;
    font-size: 1rem;
		border: 1px solid;
		border-radius: 2px;
		line-height: 1;
		cursor: pointer;
	}
	.submit.enabled {
		color: #ffffff;
		color: var(--wp--preset--color--background);
		background-color: #007cba;
		background-color: var(--wp--preset--color--foreground);
	}
	.submit.disabled {
		pointer-events: none;
		opacity: .7;
	}
	.password-container {
		margin: 1em 0 0 0;
	}
	.submit-container {
		margin: 2em 0 0 0;
	}
	.cancel {
		background-color: transparent;
		color: inherit;
		float: right;
	}
</style>
