<script>
	import ErrorMessage from './ErrorMessage.svelte'

	let form = true
	let errorMsg = false;
	let data = {
		user_login: '',
		user_email: '',
		website: '',
	}

	$: disabled = !(data.user_login && data.user_email)

	function submitForm(token) {
		if (data.website) return

		if (data.user_login && data.user_email) {
			data.token = token

			fetch( `/wp-json/uc/v1/authentication/register`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-WP-Nonce': window?.svelteData?.rest_nonce,
					},
					body: JSON.stringify( data ),
				} 
			)
			.then( async ( res ) => {
					const { data: _data } = await res.json()					

					if (_data.signed_up) {
						data.user_login = '';
						data.user_email = '';
						form = false
					}
				}
			)

		}
	}

	function verifyForm() {
		if (typeof window.grecaptcha !== 'undefined') {
			window.grecaptcha.ready(function() {
				window.grecaptcha.execute(window.ucOptions.recaptcha_site_key, {action: 'uc_signup'})
				.then(function(token) {
					submitForm(token);
				});
			});
		} else { // reCaptcha is disabled
			submitForm(null);
		}
	}
</script>

{#if form}
	<div class="uc-signup-form">
		<ErrorMessage error="{errorMsg}" />

		<form action="/">
			<div class="username-container">
				<label for="username">Username</label>
				<input type="text" id="username" bind:value={data.user_login}>
			</div>
			<div class="email-container">
				<label for="email">Email address</label>
				<input type="email" id="email" bind:value={data.user_email}>
			</div>
			<div class="submit-container">
				<input type="hidden" id="website" bind:value={data.website}>
				<div class="g-recaptcha"></div>
				<div class="col1">
					<button class="button submit {disabled ? 'disabled' : 'enabled'}" on:click|preventDefault={verifyForm}>Register</button>
				</div>
			</div>
		</form>
	</div>
{:else}
	<div class="uc-signup-message">
		<h2>We have sent you and email</h2>
		<p>Please follow the instructions in the email you have just received from us to finish creating your account.</p>
	</div>
{/if}

<style>
	.uc-signup-form {
		border: 1px solid;
		border-top: none;
		padding: 1rem;
	}
	.uc-signup-form input[type="text"],
	.uc-signup-form input[type="email"] {
		width: 100%;
		padding: 5px 10px;
		font-size: 1.4rem;
		border: none;
	}
	.uc-signup-form button {
		margin: 0 1em 0 0;
		padding: 10px 15px;
    font-size: 1rem;
		border: 1px solid;
		border-radius: 2px;
		line-height: 1;
		cursor: pointer;
	}
	.submit.disabled {
		opacity: 0.7;
		pointer-events: none;
	}
	.submit.enabled {
		color: #ffffff;
		color: var(--wp--preset--color--background);
		background-color: #007cba;
		background-color: var(--wp--preset--color--foreground);
	}
	.username-container,
	.email-container {
		margin: 1em 0 0 0;
	}
	.submit-container {
		margin: 2em 0 0 0;
	}
</style>
